#loginModal input
{
	margin-bottom: 20px;
}

a:hover {
    cursor: pointer;
}

div.viewContainer
{
	width: 100%; 
	padding-bottom: 100px; 
	padding-top: 70px;
}

.jumbotron h2
{
    font-weight: 800;
}

body 
{
    width: 100%;
}

header, footer
{
	position: fixed;
    width: 100%;
    z-index: 1030;
}

header
{
	top: 0;
}

footer
{
	bottom: 0;	
}

body.modal-open 
{
    overflow: auto;
}

body.modal-open[style] 
{
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar 
{
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes disapear {
	from	{ opacity: 1.0; }
    to    { opacity: 0.0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes apear {
    from    { opacity: 0.0; }
    to    { opacity: 1.0; }
}

.ng-enter           { animation: apear 0.5s both ease-in; z-index: 1020; }
/* .ng-leave           { animation: disapear 0.3s both ease-in; z-index: 9999; } */