div.userPanel.fix-panel
{
	width: 100% !important;
}

span.control-label
{
	font-weight: bold;
	padding-top: 0px !important;
}

div.popover-content label
{
	padding: 0 !important;
}

.img-center 
{
    margin: 0 auto;
}
h3.marketing-title
{
    text-align: center;
}

/* GRID STYLE CORRECTIONS */
.genericGridHeader {
    width: 100%;
    height: 55%;
  }
  
div.ui-grid-header-cell-wrapper 
{
	height: inherit;	
}

i.ui-grid-icon-cancel
{
	margin-top: -8px!important;
}
/* END GRID STYLE CORRECTIONS */

div.userPanel
{
    margin-bottom: 30px;
}

/* MODALS */
div.modal-backdrop
{
	z-index: 998 !important;
}

div.modal
{
	z-index: 999 !important;	
}

div.modal-header h3
{
	color: white;	
}

div.modal-header.warning
{
	background: darkorange;
}

div.modal-header.form
{
	background: cadetblue;
}

div.modal button.btn-single
{
	width: 50%;
    margin-left: 23%;	
}

div.modal-header.danger
{
	background: brown;
	color: white;
}

div.modal-header.calc
{
	background: dimgrey;
	color: white;
}

/* .modal-body label */
/* { */
/* 	padding-top: 8px!important; */
/* } */

#loginModal input, #passwordModal input
{
	margin-bottom: 20px;
}

body.modal-open 
{
    overflow: auto;
}

body.modal-open[style] 
{
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar 
{
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}
/* END MODALS */

nav.navbar
{
	margin-bottom: 0px !important;	
}

a.navbar-brand
{
	padding:3px;	
} 
a.navbar-brand img
{
	height: 100%;
	float: left;
}
a.navbar-brand b
{
    padding-left: 8px;
    position: relative;
    bottom: -15px;
    top: 15px;
    white-space: nowrap;
}

a.btn-md i
{
	margin-top: 4px;
}

/* JUMBOTRON */
div.jumbotron
{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

div.jumbotron button i
{
    margin-top: 3px;
}
/* END JUMBOTRON */

a:hover {
    cursor: pointer;
}

div.viewContainer
{
	width: 100%; 
	padding-bottom: 80px; 
	padding-top: 65px;
}

ul.admin-menu a
{
	text-align: center;
}

ul.admin-menu a i
{
	float: left;
}

body 
{
    width: 100%;
}

header, footer
{
	position: fixed;
    width: 100%;
    z-index: 997;
}

footer p
{
   margin: 0 0 4px !important;
}

div.panel-footer
{
	padding: 4px 0px 1px 0px !important;
}
 
header
{
	top: 0;
}

footer
{
	bottom: 0;	
}

div.row
{
	margin: 0px;	
}


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes disapear {
	from	{ opacity: 1.0; }
    to    { opacity: 0.0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes apear {
    from    { opacity: 0.0; }
    to    { opacity: 1.0; }
}

.ng-enter 
{
	animation: apear 0.5s both ease-in!important;
	 z-index: 1020; 
}

.sugerido{
	padding:0!important;
	margin-bottom:0!important;
	background-color: #dff0d8!important;
  	border-color: #d6e9c6!important;
  	color: #468847!important;
}


 
/* .ng-leave            */
/* {  */
/* 	animation: disapear 0.3s both ease-in !important; */
/* 	z-index: 9999;  */
/* } */

/* Mapa de Google */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input, #pac-inputV, #destination-pac-input, #origin-pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus, #pac-inputV:focus, #destination-pac-input:focus, #origin-pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#map {
    width: 100%;
    height: 100%;    
}

#mapV {
    width: 100%;
    height: 100%;    
}
