/* GRID STYLE CORRECTIONS */
.genericGridHeader {
    width: 100%;
    height: 55%;
  }
  
div.ui-grid-header-cell-wrapper 
{
	height: inherit;	
}

i.ui-grid-icon-cancel
{
	margin-top: -8px!important;
}
/* END GRID STYLE CORRECTIONS */

div.userPanel
{
    margin-bottom: 30px;
}

/* MODALS */
div.modal-header.warning
{
	background: darkorange;
}

div.modal-header.form
{
	background: cadetblue;
    color: white;
}

div.modal button.btn-single
{
	width: 50%;
    margin-left: 23%;	
}

div.modal-header.danger
{
	background: brown;
	color: white;
}

.modal-body label
{
	padding-top: 8px!important;
}

#loginModal input, #passwordModal input
{
	margin-bottom: 20px;
}

body.modal-open 
{
    overflow: auto;
}

body.modal-open[style] 
{
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar 
{
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}
/* END MODALS */

nav.navbar
{
	margin-bottom: 0px !important;	
}

a.btn-md i
{
	margin-top: 4px;
}

div.jumbotron
{
    padding-top: 10px!important;
    padding-bottom: 20px!important;
}

a:hover {
    cursor: pointer;
}

div.viewContainer
{
	width: 100%; 
	padding-bottom: 150px; 
	padding-top: 70px;
}

.jumbotron h2
{
    font-weight: 800;
}

body 
{
    width: 100%;
}

header, footer
{
	position: fixed;
    width: 100%;
    z-index: 999;
}

header
{
	top: 0;
}

footer
{
	bottom: 0;	
}

div.row
{
	margin: 0px;	
}


/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes disapear {
	from	{ opacity: 1.0; }
    to    { opacity: 0.0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes apear {
    from    { opacity: 0.0; }
    to    { opacity: 1.0; }
}

.ng-enter 
{
	animation: apear 0.5s both ease-in!important;
	 z-index: 1020; 
}
 
/* .ng-leave            */
/* {  */
/* 	animation: disapear 0.3s both ease-in !important; */
/* 	z-index: 9999;  */
/* } */