div.jumbotron
{
    padding-top: 10px!important;
    padding-bottom: 20px!important;
}

.modal-body label
{
	padding-top: 0px!important;
}

body 
{
    width: 100%;
}

header, footer
{
	position: fixed;
    width: 100%;
    z-index: 999;
}

div.row
{
	margin: 0px;	
}

header
{
	top: 0;
}

footer
{
	bottom: 0;	
}

a:hover 
{
    cursor: pointer;
}

div.viewContainer
{
	width: 100%; 
	padding-bottom: 250px; 
	padding-top: 70px;
}

body.modal-open 
{
    overflow: auto;
}

body.modal-open[style] 
{
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar 
{
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes disapear {
	from	{ opacity: 1.0; }
    to    { opacity: 0.0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes apear {
    from    { opacity: 0.0; }
    to    { opacity: 1.0; }
}

.ng-enter           { animation: apear 0.5s both ease-in; z-index: 1020; }
/* .ng-leave           { animation: disapear 0.5s both ease-in; z-index: 9999; } */

/* Mapa de Google */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
