.modal-body label
{
	padding-top: 0px!important;
}

body 
{
    width: 100%;
}

body.modal-open 
{
    overflow: auto;
}

body.modal-open[style] 
{
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar 
{
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */

@keyframes disapear {
	from	{ opacity: 1.0; }
    to    { opacity: 0.0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes apear {
    from    { opacity: 0.0; }
    to    { opacity: 1.0; }
}

.ng-enter           { animation: apear 1.0s both ease-in; z-index: 8888; }
.ng-leave           { animation: disapear 0.3s both ease-in; z-index: 9999; }